.Primary-Hero {
    height: 824px;
    padding: 0px 88px;
    display: flex;
    align-items: center;
    justify-content: right;
    margin-top: 20px;
    position: relative;
}

.Primary-Hero::before {
    width: 100vw;
    height: 0.0625rem;
    background-color: #6685ba;
    content: "";
    position: absolute;
    top: 0;
    right: 12rem;
}

.primary-hero-video {
    height: 100%;
    width: 550px;
    object-fit: cover;
    border-radius: 0px 100px 100px 0px;
    border: 0.0625rem solid #6685ba;
    border-left: none;
}

.primary-hero-content {
    position: absolute;
    left: 88px;
    top: 88px;
    display: flex;
    flex-direction: column;
}

.primary-hero-content-line {
    height: 130px;
    display: flex;
    align-items: center;
    font-family: "Exo", sans-serif;
    font-size: 136px;
    color: #00112e;
    font-weight: 700;
    /* position: absolute; */
}

.primary-hero-content-line:nth-child(3)::after {
    display: flex;
    align-items: center;
    content: "different.";
    color: transparent;
    -webkit-text-stroke: 1.5px black; /* width and color of the stroke */
    width: 100%;
    height: 130px;
    position: absolute;
    bottom: 0;
    left: 350px;
    font-style: italic;
    clip-path: polygon(0% 0%, 60% 0, 60% 100%, 0% 100%);
}

.primary-hero-content-line:nth-child(3)::before {
    display: flex;
    align-items: center;
    content: "different.";
    color: transparent;
    -webkit-text-stroke: 1.5px white; /* width and color of the stroke */
    width: 100%;
    height: 130px;
    position: absolute;
    bottom: 0;
    left: 350px;
    font-style: italic;
    clip-path: polygon(60% 0, 100% 0, 100% 100%, 60% 100%);
}
